<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = 'pane'>
        <h1>Genres</h1>
        <a href="{{url_for('newGenre')}}" > <h3> Create a New Genre </h3> </a>

        {% for genre in genres %}

        <a href = "{{url_for('showFilm', genre_id = genre.id)}}"> <p>{{genre.name}}</p></a>

        <p><a href = "{{url_for('editGenre', genre_id = genre.id)}}">Edit Genre</a></p>
            
        <p> <a href = "{{url_for('deleteGenre', genre_id = genre.id)}}">Delete Genre</a> </p>

        {% endfor %}
    </div>
    
</body>
</html>
