<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer>
    </script>

</head>
<body>

    <div id="signinButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="144557646537-c33jmpfdoo0fsnu9uhouh8vikfiltv69.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>
    <div id="result"></div

</body>

</html>